<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>worker-auth</title>
        <script
            src="https://unpkg.com/htmx.org@1.8.0"
            integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
        />
        <style>
            pre {
                color: #ffbe85;
            }
        </style>
    </head>
    <body>
        <script>
            document.body.addEventListener(
                "htmx:responseError",
                function (evt) {
                    const targetError =
                        evt.target.attributes.getNamedItem("hx-target-error");

                    if (targetError) {
                        document.getElementById(
                            targetError.value,
                        ).innerHTML = `${evt.detail.xhr.status} ${evt.detail.xhr.responseText}`;
                    }
                },
            );

            // Get X-CSRF-Token from POST /login request and store it in Local Storage
            document.body.addEventListener("htmx:afterRequest", function (evt) {
                const url = new URL(evt.detail.xhr.responseURL);
                if (url.pathname === "/login") {
                    const csrfToken =
                        evt.detail.xhr.getResponseHeader("X-CSRF-Token");
                    if (csrfToken) {
                        localStorage.setItem("csrf-token", csrfToken);
                    }
                    document.getElementById("login-form").reset();
                }
            });
        </script>
        <main>
            <div>
                <h2>Login</h2>
                <h4>
                    Sign in as an existing user. Don't have an account?
                    <a href="/register">Register here.</a>
                </h4>

                <form
                    id="login-form"
                    hx-post="/login"
                    hx-target="#login-pre"
                    hx-target-error="login-pre"
                >
                    <div>
                        <label>Email</label>
                        <input
                            required
                            name="email"
                            type="email"
                            placeholder="email@address.com"
                        />
                    </div>
                    <div>
                        <label>Password</label>
                        <input required name="password" type="password" />
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                </form>
                <pre id="login-pre"></pre>
            </div>

            <hr />
            <div>
                <h2>Hello</h2>
                <h4>Make an authenticated POST request to /hello endpoint.</h4>
                <button
                    hx-post="/hello"
                    hx-target="#hello"
                    hx-target-error="hello"
                    hx-headers="javascript:{'X-CSRF-Token': localStorage.getItem('csrf-token')}"
                >
                    Hello
                </button>
                <pre id="hello"></pre>
            </div>

            <hr />
            <div>
                <h2>Logout</h2>
                <h4>Sign out.</h4>
                <button hx-post="/logout" hx-target="#logout">
                    Clear Cookies
                </button>
                <button
                    onclick="localStorage.removeItem('csrf-token'); document.getElementById('logout').innerHTML = 'Cleared local storage'"
                    hx-target="#logout"
                >
                    Clear Local Storage
                </button>
                <pre id="logout"></pre>
            </div>
        </main>
        <hr />
        <footer>
            <a href="/register">register</a> |
            <a href="https://github.com/ngshiheng/worker-auth">source code</a> |
            <a href="https://jerrynsh.com/about/">about author</a>
        </footer>
    </body>
</html>
