<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
        />
    </head>
    <body>
        <main>
            <div>
                <h2>Login</h2>
                <form hx-post="/login" hx-target="#login">
                    <div>
                        <label
                            >email
                            <input name="email" type="email" />
                        </label>
                    </div>
                    <div>
                        <label
                            >password
                            <input name="password" type="password" />
                        </label>
                    </div>
                    <div>
                        <button type="submit">login</button>
                    </div>
                </form>
            </div>
            <div id="login"></div>

            <hr />
            <div>
                <h2>Make an authenticated request</h2>
                <button hx-get="/hello" hx-target="#hello">/hello</button>
                <div id="hello"></div>
            </div>

            <hr />
            <div>
                <h2>Clear cookies</h2>
                <button hx-post="/logout" hx-target="#logout">/logout</button>
                <div id="logout"></div>
            </div>
        </main>
        <hr />
        <footer class="container">
            Don't have an account? <a href="/register">Register here.</a>
        </footer>
    </body>
</html>
