<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
        />
    </head>
    <body>
        <main>
            <h1>Login</h1>
            <form hx-post="/login" hx-target="#login">
                <div>
                    <label
                        >Email
                        <input name="email" type="email" />
                    </label>
                </div>
                <div>
                    <label
                        >Password
                        <input name="password" type="password" />
                    </label>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
            <div id="login"></div>
            <hr />
            <div>
                <button hx-get="/hello" hx-target="#hello">Hello</button>
            </div>
            <div id="hello"></div>
        </main>
        <footer class="container">
            <a href="/register">register</a>
        </footer>
    </body>
</html>
