<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script
            src="https://unpkg.com/htmx.org@1.8.0"
            integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
        />
    </head>
    <body>
        <script>
            document.body.addEventListener(
                "htmx:responseError",
                function (evt) {
                    const targetError =
                        evt.target.attributes.getNamedItem("hx-target-error");

                    if (targetError) {
                        document.getElementById(
                            targetError.value,
                        ).innerHTML = `${evt.detail.xhr.status} ${evt.detail.xhr.responseText}`;
                    }
                },
            );
        </script>
        <main>
            <div>
                <h2>Register</h2>
                <h4>Sign up as a new user.</h4>
                <form
                    hx-post="/register"
                    hx-target="#register-div"
                    hx-target-error="register-div"
                >
                    <div>
                        <label>Email</label>
                        <input name="email" type="email" required />
                    </div>
                    <div>
                        <label>Password</label>
                        <input name="password" type="password" required />
                    </div>
                    <div>
                        <button type="submit">Register</button>
                    </div>
                </form>
                <div id="register-div"></div>
            </div>
        </main>
        <hr />
        <footer>Already have an account? <a href="/">Log in here.</a></footer>
    </body>
</html>
