<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
        />
    </head>
    <body>
        <main>
            <h2>Register</h2>
            <div>
                <form
                    hx-post="/register"
                    hx-target="#register"
                    hx-swap="outerHTML"
                    class="error"
                >
                    <div>
                        <label
                            >email
                            <input name="email" type="email" />
                        </label>
                    </div>
                    <div>
                        <label
                            >password
                            <input name="password" type="password" />
                        </label>
                    </div>
                    <div>
                        <button type="submit">register</button>
                    </div>
                </form>
            </div>
            <div id="register"></div>
        </main>
        <hr />
        <footer class="container">
            Already have an account? <a href="/">Log in here.</a>
        </footer>
    </body>
</html>
